# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
#.idea
#*.iml
#out
#gen




#java
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/

#eclipse ignore
.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db


# 阿里云配置文件，不做commit
atcrowdfunding07-member-parent/atcrowdfunding13-member-project-consumer/src/main/resources/application-aliyun.yml